body{
    display: flex;
}

.game { 
    width: 400px;
    height: 800px;
    background-color:bisque;
    display: flex;
    flex-wrap: wrap;
    border: 7px solid green;

}

#btn {
    width: 200px;
    height: 100px;
    margin-left: 50px;

}

#score {
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
}

.fildElem {
    margin: 1px;
    height: 38px;
    width: 38px;
    background-color: rgba(208, 211, 127, 0.833);
}

.show {
    background-color:rgba(238, 11, 53, 0.76);
}

.bottom {
    background-color:blue;
}

