body{
    display: flex;
}

.game { 
    width: 400px;
    height: 800px;
    background-color:bisque;
    display: flex;
    flex-wrap: wrap;
    border: 7px solid green;

}

#btn {
    width: 200px;
    height: 100px;
    margin-left: 50px;

}

#score {
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
}

.fildElem {
    margin: 1px;
    height: 38px;
    width: 38px;
    background-color: rgba(208, 211, 127, 0.833);
}



.l {
    background-color:rgba(235, 19, 37, 0.943);
}

.o {
    background-color:rgba(19, 50, 2, 0.899);
}

.z {
    background-color:rgba(11, 189, 212, 0.905);
}

.i {
    background-color:rgba(0, 0, 0, 0.76);
}

.t {
    background-color:rgba(204, 11, 238, 0.813);
}



.bottom {
    background-color:blue;
}

